/* Geral */

button {
    background-color: #fdfdfd;
    color: #102f5e;
    border: 2px solid #102f5e;
    padding: 0.3rem 0.6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    border-radius: 3px;
}

button:hover {
    background-color: #102f5e;
}

button:hover > i {
    color: #fff;
}

button i {
    pointer-events: none;
    color: #102f5e;
    font-weight: bold;
}

input,
select {
    padding: 0.25rem 0.5rem;
    border: 1px solid #515151;
    border-radius: 3px;
    outline: none;
}

input:focus,
select:focus{
    border-color: #102f5e; 
}

.hide {
    display: none;
}

/* Todo Header */
.todo-container {
    max-width: 450px;
    margin: 3rem auto;
    background-color: #fdfdfd;
    padding: 1.5rem;
    border-radius: 15px;
    transition: ease-in-out .3s;
}

.todo-container header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
}

/* Todo Form */
#todo-form{
    position: relative;
}

#todo-form,
#edit-form {
    padding: 1rem;
    border-bottom: 1px solid #ccc
}

#todo-form p,
#edit-form p {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

#todo-form .form-control{
    position: relative;
}

#todo-form .form-control #trash-button{
    position: absolute;
    right: 0;
    height: 32.59px;
    background-color: #102f5e;
    transition: ease .2s;
}

#todo-form .form-control #trash-button > i{
    color: #fff;

}

#todo-form .form-control #trash-button:hover > i{
    animation: trashBtn-vibrate .2s linear backwards;
}

#todo-form .form-control #trash-button:hover{
    background-color: #0c2449;
}

@keyframes trashBtn-vibrate{
    from{
        transform: translateX(-1px);
        opacity: .2;
    }to{
        transform: translateX(1px);
        opacity: 1;
    }
}

.form-control {
    display: flex;
}

.form-control input {
    margin-right: 0.3rem;
}

#cancel-edit-btn {
    margin-top: 1rem;
    color: #444;
}

#toolbar {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
}

#toolbar h4 {
    margin-bottom: 0.5rem;
}

#search {
    border-right: 1px solid #ddd;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form {
    display: flex;
}

#search input {
    width: 100%;
    margin-right: 0.3rem;
}

#filter {
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter select {
    flex: 1;
}

.todo {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    transition: ease-in-out 0.2s;
}

.todo.hide{
    display: none;
}

.todo h3 {
    flex: 1;
    font-size: 0.9rem;
}

.todo button {
    margin-left: .4rem;
}

.todo button:nth-of-type(1){
    margin-left: .5rem;
}

.done {
    background: #395169;
}

.done h3 {
    color: #fff;
    text-decoration: line-through;
    font-style: italic;
}
